@model Empresa2.Models.Motor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Motor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeMotor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeMotor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdMotor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
